NUXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NUXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NUXT_PUBLIC_GOOGLE_MAPS_API_KEY=<google-cloud-api-key>
NUXT_PUBLIC_GOOGLE_MAPS_MAP_ID=DEMO_MAP_ID
